<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0-test">

    <!--
      Some OEM installers reject instrumentation-only APKs as anonymous,
      non-launchable applications. This test-only entry makes the package
      identifiable without changing the production manifest or runtime.
    -->
    <application
        android:icon="@drawable/vision_dream_test_icon"
        android:label="Vision Dream Test">
        <activity
            android:name="io.github.xororz.localdream.InstrumentationLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
